.cart-default-height{
    min-height: 100vh;
}
.checkout-inner-div-flex{
    display: flex;
    justify-content: space-between;
}
.add-to-cart-main-1{
    display: flex;
    align-items: center;
    /* flex-direction: column; */
}
.add-to-cart-main-2{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.image-in-cart{
    width: 150px;
    height: 150px;
}
.left-side-part{
    background-color: ghostwhite;
}
.right-side-part{
    position: relative;
    background-color: #fff;
}
.product-name-in-cart{
    width: 100px;
    text-align: center;
}
.sticky-right-side{
    position: sticky;
    top:  100px;
}

#go-back {
    color: blue;
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    border: 1px solid transparent;
    text-align: center;
    display: inline-block;
}

#go-back::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-left: 1.5px solid blue;
    border-top: 1.5px solid blue;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

#go-back::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 100%;
    border-right: 1.5px solid blue;
    border-bottom: 1.5px solid blue;
    transition: width 0.3s ease-in-out 0.3s, height 0.3s ease-in-out 0.3s;
}

#go-back:hover::before {
    width: 100%;
    height: 100%;
}

#go-back:hover::after {
    width: 100%;
    height: 100%;
}


@media screen and (min-width: 320px)  and (max-width:768px){
    .checkout-inner-div-flex{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .add-to-cart-main-1{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .add-to-cart-main-2{
        display: flex;
        justify-content: space-around;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }
    .product-name-in-cart{
        width: 100%;
        text-align: center;
    }
}