.flowchart-container{
    padding:80px 10px;
    margin-top: 100px;
    overflow: hidden;
}

.relative-div{
    position: relative;
    overflow: hidden;
}
.arrow-div-top{
    position: absolute;
    top: 20%;
    left: 7%;
}
.arrow-img-top{
    width: 290px;
}

.arrow-div-down{
    position: absolute;
    top: 75%;
    left: 42%;

}
.arrow-img-down{
    width: 260px;
    rotate: 5deg;
}

.r-images{
    width: 80px;
}